.react-win-splitview {
    --sidebar_background_color: #f2f2f2
    --sidebar_border_right: 1px solid rgba(0, 0, 0, 0.1)
    --sidebar_top_offset: 0
    --sidebar_left_offset: 0
    --sidebar_height: 100vh
    --sidebar_open_width: 25vw
    // Must use unquote function because calc() is a native stylus function which overrides the css function
    --content_open_width: unquote("calc(100vw - var(--sidebar_open_width))")
    --sidebar_partial_width: 4vw
    // Must use unquote function because calc() is a native stylus function which overrides the css function
    --content_partial_width: unquote("calc(100vw - var(--sidebar_partial_width))")
    --nav_menu_item_hover_background_color: rgba(0,0,0,.1)
    --nav_menu_item_active_background_color: rgba(0,0,0,.2)
    --nav_menu_item_text_color: #000000
    --nav_menu_item_active_text_color: #000000

    display: flex

    &.close-type-partial {
        .react-win-splitview-nav {
            width: var(--sidebar_partial_width)
            overflow-x: hidden
        }

        .react-win-splitview-content {
            width: var(--content_partial_width)
        }

        .react-win-splitview-nav-menu-item-link-label {
            display: none
        }
    }

    &.close-type-full {
        .react-win-splitview-nav {
            width: 0px
            display: none
        }

        .react-win-splitview-content {
            width: 100vw
        }
    }

    &.open {
        .react-win-splitview-nav {
            width: var(--sidebar_open_width)
            display: block
        }

        .react-win-splitview-content {
            width: var(--content_open_width)
        }

        .react-win-splitview-nav-menu-item-link-label {
            display: unset
        }
    }

    .react-win-splitview-nav {
        background: var(--sidebar_background_color)
        border-right: var(--sidebar_border_right)
        position: sticky
        top: var(--sidebar_top_offset)
        left: var(--sidebar_left_offset)
        height: var(--sidebar_height)

        .react-win-splitview-nav-menu {
            margin: 0
            padding: 0
            list-style-type: none

            .react-win-splitview-nav-menu-item {
                cursor: pointer
                color: var(--nav_menu_item_text_color)

                &.active, &:active {
                    background-color: var(--nav_menu_item_active_background_color)
                    color: var(--nav_menu_item_active_text_color)

                    a {
                        color: var(--nav_menu_item_active_text_color)
                    }
                }

                &:hover {
                    background-color: var(--nav_menu_item_hover_background_color)
                }

                a {
                    text-decoration: none
                    color: var(--nav_menu_item_text_color)

                    &:hover, &:focus {
                        text-decoration: none
                        outline: none
                        border: none
                    }

                    .react-win-splitview-nav-menu-item-link {
                        display: flex
                        align-items: center

                        .react-win-splitview-nav-menu-item-link-icon {
                            width: var(--sidebar_partial_width)
                            height: var(--sidebar_partial_width)
                            display: flex
                            text-align: center
                            justify-content: center
                            align-items: center
                        }

                        .react-win-splitview-nav-menu-item-link-label {

                        }
                    }
                }
            }
        }
    }

    .react-win-splitview-content {
        padding: 0 10px
    }
}
